@{
    ViewData["Title"] = "About us";
}
<div class="footer-section about-us">
    <h2>О нас</h2>
    <p>
        Добро пожаловать в ElectroCity! Мы ведущая компания по предоставлению профессиональных электромонтажных услуг.
        Наша миссия – обеспечивать безопасность и надежность ваших электрических систем. С момента основания в 2010 году
        мы успешно выполнили тысячи проектов, заработав доверие клиентов по всей стране.
    </p>
    <p>
        Наша команда состоит из опытных и квалифицированных специалистов, готовых решать задачи любой сложности.
        Мы используем только современные технологии и материалы высокого качества, чтобы гарантировать долговечность
        и безопасность наших работ.
    </p>
    <p>
        Будьте уверены, выбирая ElectroCity, вы выбираете качество, надежность и профессионализм.
    </p>
</div>
