@{
    ViewData["Title"] = "AddEmployee";
}
@using Electrociti.ViewModels
@model Employee

<form asp-action="AddEmployee" asp-controller="Home" method="post" class="form-container" enctype="multipart/form-data">
    <div>
        <div>
            <h1>Добавление сотрудника</h1>
        </div>

        <div>
            <input type="file" style="margin: 15px 0px 15px 0px" asp-for="EmployeeImage" id="eImgFile" accept="image/*" onchange="convertToBase64(this)">
            <input type="hidden" id="eImg" name="EmployeeImage" />
            <span asp-validation-for="EmployeeImage" class="text-danger"></span >
        </div>

        <div>
            <input type="text" asp-for="EmployeeName" placeholder="Имя сотрудника" pattern="[A-Za-zА-Яа-яЁё\s\-]+" title="Введите только буквы, пробелы и тире" autocomplete="off" required minlength="1" />
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>

        <div>
            <input type="text" asp-for="EmployeeSurname" placeholder="Фамилия сотрудника" autocomplete="off" />
            <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
        </div>

        <div>
            <input type="text" style="margin: 15px 0px 15px 0px" asp-for="EmployeePatronomic" placeholder="Отчество сотрудника (не обязательно)" autocomplete="off" />
        </div>

        <div>
            <textarea asp-for="EmployeeDescription"  placeholder="Описание сотрудника (не обязательно)" autocomplete="off" class="textAreaDescription" oninput="autoResize(this)"></textarea>
        </div>

        <div>
            <input type="text" asp-for="EmployeeAddress" placeholder="Адрес сотрудника" autocomplete="off" required />
            <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
        </div>

        <div>
            <input type="text" asp-for="EmployeePhone" placeholder="Телефон сотрудника" pattern="[0-9]+" title="Пример номера: 8999999999" minlength="11" maxlength="11" autocomplete="off" required />
            <span asp-validation-for="EmployeePhone" class="text-danger"></span>
        </div>

        <div>
            <input type="text" asp-for="EmployeeRate" placeholder="Рейтинг сотрудника" pattern="[0-5]" title="Введите число от 0 до 5" autocomplete="off" required />
            <span asp-validation-for="EmployeeRate" class="text-danger"></span>
        </div>

        <div>
            <input type="password" asp-for="EmployeePassword" placeholder="Пароль сотрудника" autocomplete="off" required />
            <span asp-validation-for="EmployeePassword" class="text-danger"></span>
        </div>

        <div>
            <p>Дата рождения</p>
            <input type="date" style="margin: 15px 0px 15px 0px" asp-for="EmployeeBirthday" max="@ViewBag.Today" />
            <span asp-validation-for="EmployeeBirthday" class="text-danger"></span>
        </div>

        <button type="submit">Сохранить</button>
    </div>
</form>

<script>
    function convertToBase64(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var base64String = e.target.result;
                // Проверка валидности строки Base64
                if (base64String.startsWith("data:image/") && base64String.includes("base64,")) {
                    document.getElementById('eImg').value = base64String;
                } else {
                    alert("Некорректное изображение.");
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px';
    }

    // Инициализация высоты textarea при загрузке страницы
    document.addEventListener('DOMContentLoaded', function () {
        var textareas = document.querySelectorAll('textarea');
        textareas.forEach(function (textarea) {
            autoResize(textarea);
        });
    });
</script>
