@page
@model Electrociti.Views.Home.AdminModel

<div class="main">
    <div class="filtersAdmin">
        <a class="filterChoise">Список пользователей</a>
        <a class="filterChoise">Список исполнителей</a>
    </div>
    <div class="displayInfo">

    </div>
</div>