@{
    ViewData["Title"] = "Home Page";
}

@using Electrociti.ViewModels
@model EmployeeServiceEmployeeServices

<div class="main">
    <div class="filters">
        <h3 class="filterName">Фильтры</h3>
        <form id="filterForm">
            <input class="textSearch" type="text" id="searchString" name="searchString" placeholder="Поиск (улица, описание, услуги)" />
            <div>
                <input class="textFilter" type="text" id="minCost" name="minCost" placeholder="от" />
                <input class="textFilter" type="text" id="maxCost" name="maxCost" placeholder="до" />
            </div>
            <a class="textFilterA">Опыт работы исполнителя</a>
            <select class="comboboxFilterAge" id="combobox">
                <option value="1">Любой</option>
                <option value="2">Менее 1 года</option>
                <option value="3">2 года</option>
                <option value="4">3 года и больше</option>
            </select>
            <a class="textFilterA">Исполнитель закупает материал</a>
            <input type="checkbox" id="byMaterial" name="byMaterial" />
            <label class="labelFilterA">Да</label>
            <a class="textFilterA">Рейтинг исполнителя</a>
            <input type="checkbox" id="rate" name="rate" />
            <label class="labelFilterA">4 и выше</label>
            <button class="buttonAccept" type="button" onclick="applyFilters()">Применить</button>
        </form>
    </div>
    <div class="cards" id="cardContainer">
        @Html.Partial("_EmployeeCards", Model)
    </div>
</div>


<script>
    function applyFilters() {
        var searchString = document.getElementById("searchString").value;
        var minCost = document.getElementById("minCost").value;
        var maxCost = document.getElementById("maxCost").value;
        var rate = document.getElementById("rate").checked;

        $.ajax({
            url: '/Home/GetFilteredUsers', // Измененный URL
            type: 'GET',
            data: {
                searchString: searchString,
                minCost: minCost,
                maxCost: maxCost,
                rate: rate
            },
            success: function (result) {
                $('#cardContainer').html(result);
            },
            error: function (error) {
                console.error('Ошибка при выполнении AJAX запроса:', error);
            }
        });
    }
</script>
