@using Electrociti.Models;
@model Electrociti.Models.Employee
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.LabelFor(model => model.EmployeeName)
    @Html.TextBoxFor(model => model.EmployeeName)
    <br />

    @Html.LabelFor(model => model.EmployeePassword)
    @Html.PasswordFor(model => model.EmployeePassword)
    <br />

    <input type="submit" value="Login" href="/Home/Index"/>
}

