@{
    ViewData["Title"] = "Terms_of_service";
}
<div class="footer-section terms-of-service">
    <h2>Условия использования</h2>
    <p>Добро пожаловать на сайт ElectroCity. Пожалуйста, внимательно прочитайте эти условия использования перед началом работы с нашим сайтом и услугами.</p>

    <h2>1. Принятие условий</h2>
    <p>Используя наш сайт, вы соглашаетесь с настоящими условиями использования. Если вы не согласны с этими условиями, пожалуйста, не используйте наш сайт и услуги.</p>

    <h2>2. Изменения условий</h2>
    <p>ElectroCity оставляет за собой право изменять условия использования в любое время. Изменения вступают в силу с момента их публикации на сайте. Рекомендуем регулярно проверять обновления.</p>

    <h2>3. Описание услуг</h2>
    <p>ElectroCity предоставляет профессиональные электромонтажные услуги. Подробное описание услуг, их стоимость и условия предоставления указаны на соответствующих страницах сайта.</p>

    <h2>4. Использование сайта</h2>
    <p>Вы обязуетесь использовать наш сайт только в законных целях и не нарушать права других пользователей. Запрещается размещать на сайте незаконные, оскорбительные или непристойные материалы.</p>

    <h2>5. Ограничение ответственности</h2>
    <p>ElectroCity не несет ответственности за любой ущерб, возникший в результате использования или невозможности использования нашего сайта и услуг, за исключением случаев, предусмотренных законодательством.</p>

    <h2>6. Интеллектуальная собственность</h2>
    <p>Все материалы, размещенные на сайте, являются интеллектуальной собственностью ElectroCity и защищены авторским правом. Запрещается копировать, распространять или использовать материалы без письменного согласия правообладателя.</p>

    <h2>7. Контактная информация</h2>
    <p>Если у вас есть вопросы по поводу настоящих условий использования, пожалуйста, свяжитесь с нами по адресу: info@electrocity.com.</p>
</div>