<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electrociti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Style.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">

    <header>

            <a class="spanName" href="@Url.Action("RedirectToRoleBasedPage", "Home")">
                <img class="imgElectro" src="~/img/electrocity.png" />
            </a>
        
        <a class="headerFix"></a>
        
        <a class="logRegDiv" href="/Home/Login">Вход</a>
       
        <a class="image-container" href="/Home/EmployeeProfile">
            <img class="imgAvatar" src="~/img/icons8-user-96.png" alt="Описание изображения">
        </a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <a class="textFooter" href="~/Home/About_us">О нас</a>
                </div>
                <div class="footer-section">
                    <a class="textFooter" href="~/Home/Rights_reserved">Все права защищены</a>
                </div>
                <div class="footer-section">
                    <a class="textFooter" href="~/Home/Contact_us">Наши контакты</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
