<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electrociti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="IconContainer" href="/Home/Index">
            <img class="imgIcon" src="~/img/icon.jpg" />
        </a>
        <a class="spanName" href="/Home/Index">ElectroCiti</a>
        <input class="textSearch" type="text" />
        <button class="buttonSearch">Поиск</button>
        <button class="buttonQuery">Оставить обьявление</button>
            <div class="image-container">
                <img class="imgAvatar" src="~/img/Avatar.jpg" alt="Описание изображения">
                <div class="overlay-div">
                    <a class="textAvatar" href="">Вход</a>
                    <a class="textAvatar" href="/Home/Admin">Перейти на админ панель</a>
                    <a class="textAvatar" href="">Регирация</a>
                </div>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a class="textFooter" href="">О нас</a>
            <a class="textFooter" href="">Все права защищены</a>
            <a class="textFooter" href="">Наши контакты</a>
            &copy; 2023 - Electrociti - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
